
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #D7F3FF;
    min-height: 100vh;
}

.section-title {
    text-align: center;
    font-family: Roboto;
    font-size: 3rem; 
    text-shadow: 1px 1px 1px #fff;
}

.title-slogan {
    text-align: center;
    font-family: Roboto;
    text-shadow: 1px 1px 1px #fff;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0px;
}


/*------------------Header Section*/

#header-container {
    background-color: #70e26a;
}

.navbar {
    padding-top: 0rem;
}

.logo-image {
    border-radius: 15px;
}

.logo-text {
    font-size: 40px;
    font-style: oblique;
    font-family: Roboto;
    font-weight: 400;
}

.nav-item {
  font-size: larger;
  margin-left: 50px;
  font-family: Open Sans;
}

.nav-item, .nav-link {
    color: #B03A2E;
    font-weight: 700;
}

.nav-link:hover {
    color: #000;
}

.nav-link:active {
    border-bottom: 2px solid #0DD745;
}

.login-button {
    background-color: #F8B900;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: uppercase;
}

.login-button:hover {
    background-color:#fff;
    border-color: #000;
}

.btn-danger {
    font-family: Open Sans;
    font-weight: 500;
}


.btn-danger:hover {
    background-color: #000;
    border-color: #fff;
}


hr {
   border: none;
   border-top: 3px double #333;
   color: #333;
   overflow: visible;
   text-align: center;
   height: 5px;
}
/*-----------------Hero-section */

.hero-section {
    margin: 0 auto;
}


.hero-container {
    margin-bottom: 30px;
    height: 100vh;
    display: flex;
}



.title-container {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.jumbotrone-container {
    position: absolute;
    bottom: 25%;
    right: 20%;
    background-color: rgba(215, 243, 255, 0.7);
    text-align: center;
    margin-right: 20px;
    padding: 10px;
}

.jumbo-text {
    text-transform: uppercase;
    font-family: Open Sans;
    text-decoration: underline;
    font-size: x-large;
    text-shadow: 1px 1px 1px #fff;
}

.jumbo-subtext {
    font-weight: 500;
}


.jumbotrone-container p {
    font-family: Open Sans;
    font-weight: 400;
    text-transform: capitalize;
    font-size: large;
}


/*------------------Why go vegan Section*/

h5 {
    height: 60px;
    width: 200px;
    margin: 0 auto;
    align-content: center;
    
}


.banner {
    width: 100%;
    height: 100px;
    background: linear-gradient(120deg, orange 30%, #0DD745);
    border-radius: 10px;
    margin-left: 0px;
}

.banner-title {
    padding-top: 30px;
    padding-left: 10px;
    font-family: Roboto;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px black;
}

.card-title {
    font-family: Open Sans;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 400;
}

.card {
    margin-bottom: 10px;
}

.card-body {
    background-color: #F8B900;
}

.btn-succes:hover {
    background-color: #F8B900;
}

/*-----------------Feature-Recipes Section*/
















/*-----------------Mail-join Section*/

.mail-container {
    background-image: url(../images/victoria-shes-wSh0Exrb62g-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 30px;
}

.first-title {
    font-family: Roboto;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

.content-container {
    background-color: rgba(215, 243, 255, 0.5);
    width: 50%;
    border: 2px solid salmon;
    font-weight: 500;
}

.content {
    font-family: Open Sans;
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

.email-input {
    display: flexbox;
    justify-content: center;
}

.footer_newsletter_form {
    display: flex;
    justify-content: center;
}

.email-button {
    text-transform: uppercase;
}
  






/*-----------------Dividers*/

.b-example-divider {
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}



/*-----------------Footer section*/

.footer-box {
    height: 80px;
    overflow: hidden;
    background-color: #70e26a;
    margin-top: 25px;
}

.social-network {
    text-align: center;
}

.social-network li {
    display: inline;
}

.social-network i {
    font-size: 150%;
    margin: 5px;
    padding: 15px;
    color: #dc3545;
}

/*-----------------Recipes category page*/

.categories-title {
    font-family: Roboto;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 10px;
    margin-top: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px white;
}

#box-img {
font-family: Roboto;
font-size: 70px;
font-weight: 400;
letter-spacing: 10px;
text-transform: uppercase;
text-shadow: 1px 1px 1px white;

height: 300px;
background: linear-gradient(120deg, orange 30%, #0DD745);
margin-top: 30px;
margin-bottom: 30px;
background-image: url(../images/brooke-lark-atzWFItRHy8-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;;
}

.box-1, .box-2, .box-3 {
    font-family: Open Sans;
    font-size: xx-large;
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 170px;
    height: 250px;
    width: 75%;
    background-color: orange;
    margin-top: 25px;
    color:#000;
    text-shadow: 2px 1px 1px white;
}

.box-1 {
    background-image: url(../images/jannis-brandt-8manzosDSGM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-2 {
    background-image: url(../images/victoria-shes-90Z4qIxWc8Y-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-3 {
    background-image: url(../images/brooke-lark-qdyBKWSzpSI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.boxex-3 {
    margin-left: 40px;
}

.recipe-link {
    color: #000;
}

.recipe-link:hover {
    background-color: antiquewhite;
}



