
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');



body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #D7F3FF;
    min-height: 100vh;
}

.section-title {
    text-align: center;
    font-family: Roboto;
    font-size: 3rem; 
}

.title-slogan {
    text-align: center;
    font-family: Roboto;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0px;
}


/*------------------Header Section*/


.navbar {
    padding-top: 0rem;
}

.logo-image {
    border-radius: 15px;
}

.logo-text {
    font-size: 40px;
    font-style: oblique;
    font-family: Roboto;
    font-weight: 400;
}

.nav-item {
  font-size: larger;
  margin-left: 50px;
  font-family: Open Sans;;
}

.nav-item, .nav-link {
    color: #B03A2E;
    font-weight: 700;
}

.nav-link:hover {
    color: #000;
}

.nav-link:active {
    border-bottom: 2px solid #0DD745;
}

.btn-danger {
    font-family: Open Sans;
    font-weight: 500;
}


.btn-danger:hover {
    background-color: #000;
    border-color: #0DD745;
}
/*-----------------Hero-section */

.hero-section {
    margin: 0 auto;
}


.hero-container {
    margin-bottom: 30px;
    height: 600px;
    display: flex;
}



.title-container {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.jumbotrone-container {
    position: absolute;
    bottom: 25%;
    right: 20%;
    background-color: rgba(215, 243, 255, 0.7);
    text-align: center;
    margin-right: 20px;
    padding: 10px;
}

.jumbo-text {
    text-transform: uppercase;
    font-family: Open Sans;
    text-decoration: underline;
    font-size: x-large;
}

.jumbotrone-container p {
    font-family: Open Sans;
    font-weight: 400;
    text-transform: capitalize;
    font-size: large;
}

.btn-info:hover {
    background-color: #68EDCB;
}

/*------------------Why be vegan Section*/

.bg-container {
    background-color: transparent;
    padding-top: 3px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.img-overlay {
    
}

.second-title {
    margin-top: 5px;
}

h5 {
    background-color: #F39C12;
    height: 60px;
    width: 200px;
    margin: 0 auto;
    align-content: center;
}

.nature-img, .elefants-img, .health-img {
    height: 400px;
    margin-top: 15px;
}




/*-----------------Feature-Recipes Section*/



.fa-utensils {
    margin-right: 10px;
    color: #0DD745;
}

.card-title, .card-text {
    font-style: Josefin Sans;
}

.btn-succes:hover {
    background-color: #68EDCB;
    border-color: #100de4;

}

.card-body {
    background-color: #DDF8D7;
}













/*-----------------Mail-list Section*/

.mail-container {
    width: 100%; 
    padding-right: 10px; 
    padding-left: 10px; 
    margin-right: auto; 
    margin-left: auto; 
    text-align: center;
    margin-top: 10px;
}

.content {
    background-color: #64C25E;
    border-radius: 10px;
}




/*-----------------Dividers*/

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}



/*-----------------Animation hero section*/
